.user {
  width: 486px;
  display: grid;
  grid-template-areas:
  "icon name edit"
  "icon info .";
  grid-template-columns: 120px 324px 42px;
  grid-template-rows: 52% 48%;
}

@media screen and (max-width: 780px) {
  .user {
    width: 217px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    ". . icon . ."
    "name name name name edit"
    "info info info info info";
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 140px 32px 28px;
  }
}