.card__like-button {
  background-image: url(../../../images/card-like-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 23px;
  height: 19px;
  border: 0;
  grid-area: like;
  justify-self: end;
  margin: 30px 20px 0;
  transition: opacity 0.5s linear;
}

.card__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}