.popup__close-button {
  background-image: url(../../../images/popup-close-button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: 0;
  position: absolute;
  right: -40px;
  top: -40px;
  z-index: 3;
  transition: opacity 0.5s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 645px) {
  .popup__close-button {
    background-size: contain;
    width: 20px;
    height: 20px;
    right: 0;
    top: -33px;
  }
}

