.card {
  width: 282px;
  background-color: white;
  border-radius: 10px;
  color: black;
  display: grid;
   grid-template-areas:
    "img img"
    "title like";
    grid-template-rows: 282px 79px;
    grid-template-columns: 210px 72px;
    overflow: hidden;
}